#gridContainer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.GridSquare {
    flex: 1;
}

.GridRow {
    display: flex;
    flex: 1;
}